

/* -----------
 *  TRANSITIONS
 * ----------- */

button, a{
    transition: background .1s linear;
}

/* -----------
 *  GRID
 * ----------- */




@media (min-width: 1200px){
    .container {
        width: 1170px;

    } 
}
@media (min-width: 1300px){
    .container {
        width: 1280px;

    } 
}

@media(min-width:1400px){
    .container{
        width: 1380px;
    }
}

@media(min-width:1500px){
    .container{
        width: 1435px;
    }
}
@media(min-width:1700px){
    .container{
        width: 1635px;
    }
}



body{
    font-family: 'Montserrat', sans-serif;
    background: #d8dce0;
}

h1,h2,h3,h4,p{
    cursor: default;
}

/* -----------
 *  NAVEGACION SUPERIOR
 * ----------- */

.navbar{
    padding-top: 29px;
    transition: all .1s linear;
}

#navbar{}
#navbar ul{
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 0;
    padding-top: 22px;
}
#navbar ul li{
    display: inline-block;
    margin-left: 36px;
}
#navbar ul li a{
    display: inline-block;
    color: #232323;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -1px;
}
.dark-bg #navbar ul li a{
    color:white;
}
.navbar-brand{padding-left: 0;}

.navbar.scrolled {
    background: #FFF;
    padding-top: 0px;
    margin: 0;
}

.navbar.scrolled .navbar-brand{
    padding-top: 7px;
}

.navbar.scrolled #navbar ul{
    padding-top: 14px;
}

/* -----------
 *  SLIDER HOME
 * ----------- */

#slider-home{
    background: url(../img/slider-bg1.jpg)no-repeat;
    background-size: cover;
    
    position: relative;
}
#slider-home .container{
    margin-top: 0px;
}

#contenedor-slides{
    padding: 0;
    margin: 0;
    list-style: none;  
    position: relative;
}
.slider-contenido{
    
    width: 100%;
   
   
}
.slider-contenido .bt-cta{
    padding: 10px 37px;
}

.separador-titulo{
    background: #e33c10;
    width: 18px;
    height: 4px;
}

.slider-contenido h1{

    color: #2e2f33;
    font-weight: bold;
    font-size: 90px;
    margin: 0;
    letter-spacing: -5px;
    line-height: 84px;
    margin-bottom: 23px;
    margin-left: -7px;

}
.slider-contenido p{
    font-weight: 400;
    font-size: 17px;
    color: #6d728d;
    margin: 0;
    margin-top: 9px;
    letter-spacing: -1px;
    margin-bottom: 28px;
}

/* -----------
 *  ESTUDIO - SERVICIOS
 * ----------- */

#estudio-servicios{
    text-align: center;
    color: white;
}
#estudio-servicios .col-md-6{
    padding: 88px 0 79px;
}
#estudio-servicios h2{
    font-weight: bold;
    font-size: 34px;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: -2px;
}
#estudio-servicios p{
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    margin-top: 32px;
    line-height: 30px;
    margin-bottom: 41px;
}
#estudio-servicios {}


#estudio-home{
    background: url(../img/estudio-bg.jpg) #ec9422;;
}
#estudio-home .bt-sitio{color: #e33c10;}
#estudio-home .bt-sitio:hover{background: #e33c10;color: white;}

#servicios-home{
    background: url(../img/servicios-bg.jpg) #4eb293;
}

#servicios-home .bt-sitio{color: #3e3f41;}
#servicios-home .bt-sitio:hover{background: #3e3f41; color: white;}



/* -----------
 *  METODOLOGIA DE TRABAJO HOME
 * ----------- */

#metodologia-trabajo-home{
    text-align: center;
    padding: 98px 0;
    background: #f8fafb;

}
#metodologia-trabajo-home h1{
    color: #404040;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

#contenedor-metodologias{
    overflow: hidden;
    margin-top: 95px;
    padding: 0 75px;
    margin-bottom: 76px;
}

.metodologia{
    width: 200px;
    float: left;
    text-align: center;
    margin-right: 105px;
    position: relative;
}
#contenedor-metodologias .metodologia:last-child{
    margin-right: 0;
}
.metodologia h3{
    color: #404040;
    font-weight: bold;
    font-size: 17px;
    margin: 0;
}
.metodologia-icon{
    display: inline-block;
    min-height: 170px;
}

.metodologia-flecha{
    position: absolute;
    right: -93px;
    top: 62px;
}
.metodologia-flecha img{width: 42px;}

.met1 .metodologia-icon{
    width: 132px;
    padding-top: 20px;
}
.met2 .metodologia-icon{
    width: 64px;
    padding-top: 12px;
}
.met2 .metodologia-flecha{
    right: -68px;
}
.met3 .metodologia-icon{
    width: 104px;
}
.met3 .metodologia-flecha{
    right: -77px;
}
.met4 .metodologia-icon{
    width: 96px;
    padding-top: 9px;
}
.met4 .metodologia-flecha{
    right: -77px;
}
.met4 h3{    margin-top: -9px;}
.met5 .metodologia-icon{
    width: 105px;
    padding-top: 10px;
}

@media(max-width:1700px){
    #contenedor-metodologias{
        padding: 0;
    }
    .metodologia{
        margin-right: 90px;
    }
    .metodologia-flecha{
        right: -75px;
    }
}

@media(max-width:1500px){
    .metodologia{
        margin-right: 90px;
        width: 190px;
    }
    .metodologia-flecha{
        right: -75px;
    }

    .met3 h3 {
        margin-top: -9px;
    }
}
@media(max-width:1400px){
    .metodologia{
        margin-right: 82px;
        width: 175px;
    }
    .metodologia-flecha{
        right: -71px;
    }
    .met2 .metodologia-flecha {
        right: -55px;
    }
    .met3 .metodologia-flecha {
        right: -60px;
    }
    .met4 .metodologia-flecha {
        right: -65px;
    }
    .met5 h3 {
        margin-top: -9px;
    }
}

@media(max-width:1300px){
    .metodologia{
        margin-right: 70px;
        width: 165px;
    }
    .met1 h3 {
        margin-top: -9px;
    }
}

/* -----------
 *  PROYECTOS
 * ----------- */

#proyectos-home{
    background: white;
    text-align: center;
    padding: 76px 0 92px;
}
#proyectos-home h1{
    font-weight: bold;
    color: #2e2f33;
    font-size: 65px;
    display: inline-block;
    position: relative;
    margin: 0;
    margin-bottom: 48px;
}
#proyectos-home h1:after{
    content: ' ';
    background: #4eb293;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 13px;
    right: -21px;
}


#contenedor-proyectos{}
#contenedor-proyectos .col-md-6, #contenedor-proyectos .col-md-12{
    padding-right: 0;
    padding-left: 0;
    overflow: hidden;}


.col-50{
    width: 50%;
    float: left;
}
.col-100{
    width: 100%;
    float: none;
}

.proyecto{
    height: 260px;
    width: 100%;
    background-size: cover;
    background-position: 50%;
    position: relative;
}
.proyecto h2{cursor: default;}

.proyecto1, .proyecto2{
    height: 520px;
}
.proyecto-over{
    text-align: left;
    background: rgba(80, 171, 140, 0.87);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 30px 29px;
    opacity: 0;
    transition: all 0.1s linear;
    transform: scale(1.1);
    z-index: 10;
}
.proyecto:hover .proyecto-over{opacity: 1; transform: scale(1);}
.proyecto-over h3{
    margin: 0;
    color: #2e2f33;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;


}
.separador-categoria{
    background: #2e2f33;
    width: 20px;
    height: 3px;
    margin-top: 3px;
    margin-bottom: 17px;
}
.proyecto-over h2{
    margin: 0;
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
}
.proyecto-over p{
    margin: 0;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.proyecto-over a{
    margin: 0;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    background: #2e2f33;
    padding: 1px 10px;
    border-radius: 4px;
    margin-top: 18px;
}


#clientes-logos{
    margin-top: 47px;
}
#clientes-logos img{
    max-width: 100%;
}

/* -----------
 *  SOLUCIONES HOME
 * ----------- */

#soluciones-home{
    background: url(../img/soluciones-home.jpg) no-repeat 50% #242b33;
    text-align: center;
    padding: 130px 0;
}
#soluciones-home h1{
    font-size: 65px;
    color: #FFF;
    font-weight: bold;
    margin: 0;
    line-height: 78px;
    letter-spacing: -1.3px;
    margin-bottom: 54px;
}

.contenedor-texto{
    clear: both;
    width: 1050px;
    margin: 0 auto;
}
#soluciones-home .contenedor-texto{
    margin-bottom: 50px;
}

#soluciones-home p{
    width: 50%;
    float: left;
    color: #f8fafb;
    font-size: 14px;
    line-height: 24px;
    padding: 0 20px;

}


/* -----------
 *  CASO EXITO HOME
 * ----------- */

#caso-exito-home{
    padding: 86px 0px 164px;
    background-size: cover;
    background-position: 50%;

}
#caso-exito-home h2{
    color: #FFF;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    letter-spacing: -1px;
    margin-bottom: 33px;
    position: relative;
    display: inline-block;
}
#caso-exito-home h2:after{
    content: ' ';
    background: #2e2f33;
    width: 13px;
    height: 11px;
    position: absolute;
    top: -8px;
    right: -21px;
}
#caso-exito-home h1{
    color: #FFF;
    font-size: 65px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 29px;
}
#caso-exito-home p{
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    width: 500px;
    line-height: 23px;
    margin-bottom: 45px;
}
#caso-exito-home .bt-sitio{
    padding: 10px 50px;
}

/* -----------
 *  FOOTER
 * ----------- */


footer{
    background: #f8fafb;
    padding-bottom: 53px;
}
footer.in-contacto{
    background: url(../img/footer-bg.jpg)no-repeat 50%;
    background-size: cover;
}
#footer-contacto{
    background: url(../img/footer-bg.jpg)no-repeat 50%;
    background-size: cover;
    text-align: center;
    padding: 160px 0;
}
#footer-contacto.in-contacto{
    background: none;
}
footer h1{
    margin: 0;
    color: #404040;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
}

.medios-contacto{
    width: 740px;
    margin: 0 auto;
    text-align: center;
    margin-top: 51px;
}


.medio-contacto{
    width: 33%;float: left;
}
.medio-contacto p{
    font-size: 14px;
    color: #404040;
}
.contacto-icono{
    width: 57px;
    display: inline-block;
    min-height: 73px;
}
.contacto-icono svg{
    fill:#8d97a8;
}

.medio-contacto.pin .contacto-icono{
    width: 27px;
}
.medio-contacto.telefono .contacto-icono{
    width: 37px;
}

@media(max-width:850px){
    .medios-contacto{width: 600px;}
}
@media(max-width:620px){
    .medios-contacto{width: 100%;}

    .medio-contacto{
        width: 100%;
        float: none;
    }
}

footer .bt-sitio{
    margin-top: 32px;
    padding: 10px 30px;
}

#footer-nav{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: -3px;
}
#footer-logo{
    display: block;
    float: left;
}

#navbar-footer{
    float: right;
}

#navbar-footer ul{
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 0;
    padding-top: 22px;
}
#navbar-footer ul li{
    display: inline-block;
    margin-left: 36px;
}
#navbar-footer ul li a{
    display: inline-block;
    color: #9c9d9f;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -1px;
}


#footer-copyright{
    color: #010101;
    font-size: 12px;
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    margin-top: 82px;
}
#footer-copyright span{
    float: left;
    letter-spacing: -1px;
}
#footer-copyright  a{
    float: right;
    color: #010101;
    letter-spacing: -1px;
}

@media(max-width:1250px){
    #footer-nav , #footer-copyright{
        width: 100%;
        padding: 0 30px;
    }
}

/* -----------
 *  BOTONES
 * ----------- */

.bt-sitio{
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    background: white;
    padding: 10px 17px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
}
.bt-sitio:hover{
    text-decoration: none;
    color: white;
}
.bt-cta{   
    background: #ed5f01;
}
.bt-cta:hover{
    background: #ff7317;
}
.bt-oscuro{
    color: white;
    background: #2e2f33;
}
.bt-oscuro:hover{
    background: #52545A;
}


/* -----------
 *  CONTACTO
 * ----------- */

#contacto{
    background: url(../img/contacto-bg.jpg)no-repeat 50%;
    background-size: cover;
    text-align: center;
    color: white;
    padding: 152px 0 96px;
}
#contacto h1{
    font-size: 65px;
    position: relative;
    font-weight: bold;
    display: inline-block;
    letter-spacing: -2px;
}
#contacto h1:before{
    content: ' ';
    background: #ed5f01;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 0;
    right: 0;
    top: 12px;
    right: -39px;
}
#contacto p{
    margin-top: 35px;
    line-height: 24px;
}
.contacto-contenido{
    width: 820px;
    margin: 0 auto;
}

#form-contacto{
    margin-top: 36px;
    padding: 0 54px;
}
.fila-contacto{
    margin-bottom: 10px;
    overflow: hidden;
    clear: both;
}
#form-contacto input[type=text], #form-contacto textarea{
    color: #8b8b8b;
    font-size: 13px;
    font-weight: 400;
    border-radius: 2px;
    background: white;
    width: 230.5px;
    border: none;
    border: 1px solid transparent;
    float: left;
    padding: 14px;
}
#form-contacto input[type=text]{
    margin-right: 10px;
}
#form-contacto input[type=text].no-margin{
    margin-right: 0;
}
#form-contacto textarea{
    width: 100%;
    height: 87px;
}
#form-contacto button{
    background: #ed5f01;
    float: right;
    border: none;
    border-radius: 2px;
    padding: 12px 52px;
    margin-top: 7px;
    font-size: 17px;
}
#form-contacto button:hover{
    background: #FF7F2A;
}


#contacto .medios-contacto{    margin-top: 64px;}

#contacto .medios-contacto .contacto-icono{min-height: 32px;}
#contacto .medios-contacto .medio-contacto.telefono p{    margin-top: 28px;    line-height: 18px;}
#contacto .medios-contacto .medio-contacto.pin p{       margin-top: 33px;line-height: 18px;}

#contacto  .medio-contacto p{color:white }
#contacto .medios-contacto svg{ fill : white;}


@media(max-width:850px){
    .contacto-contenido{
        width: 600px;
    }

    #form-contacto input[type=text]{
        width: 157px;
    }
}

@media(max-width:620px){
    #form-contacto{
        padding: 0;
    }
    .contacto-contenido{
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    #form-contacto input[type=text]{
        width: 32%;
        margin-right: 2%;
    }
}
@media(max-width:560px){
    #form-contacto input[type=text]{
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .fila-contacto{
        margin-bottom: 0;
        text-align: center;
    }
    #form-contacto button{
        float: none;
        margin-top: 40px;
    }
}


/* -----------
 *  PROYECTOS
 * ----------- */

#proyectos{
    background : url(../img/proyectos-bg.jpg) #282828 no-repeat;
    background-size: cover;
}

#proyectos .separador-titulo{background: white;}
#proyectos.intro-module{
    /*padding: 298px 0 418px;*/
}
#proyectos.intro-module .container{
    margin-top: -163px;
}


/* -----------
 *  LISTADO PROYECTOS
 * ----------- */

#listado-proyectos{
    background: white;
}


#filtro-proyectos{
    padding: 39px;
}
#filtro-proyectos ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
#filtro-proyectos ul li{
    display: inline-block; 
    font-size: 17px;
    font-weight: 600;
    color: #2e2f33;
    position: relative;
    padding: 9px 21px;
    border-radius: 4px;
    letter-spacing: -1px;
}
#filtro-proyectos ul li.active{
    background: #2e2f33;
    color: white;
}
#filtro-proyectos ul li:before{
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    background: #4eb293;
    width: 6px;
    height: 6px;
}
#filtro-proyectos ul li:first-child:before{
    display: none;
}


/* -----------
 *  SERVICIOS
 * ----------- */

#servicios{
    background: url(../img/servicios-seccion-bg.jpg) no-repeat #35373c ;
    background-size: cover;

}

#servicios.intro-module{    padding-top: 126px;}

#servicios .separador-titulo{
    background: white;
}

#servicios-accesos{
    display: table;
    width: 100%;
    margin-top: 112px;
}

.servicio-acceso{
    width: 25%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 177px;
}
.servicio-acceso h3{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    color: #e0e7e6;
}

.servicio-acceso.sa1 h3{
    color: #1d1d1d;
}
.sa1{
    background: #d8e0df;
}
.sa2{
    background: #212227;
}
.sa3{
    background: #ee8b00;
}
.sa4{
    background: #2f2421;
}

/* -----------
 *  CONTEDOR SERVICIOS
 * ----------- */

#contenedor-servicios{
    background: #FFF;
    padding-top: 111px;
    padding-bottom: 100px;
}

.servicio{
    margin-bottom: 20px;
}

.servicio .servicio-inner{
    display: table;width: 100%; 
    background: #d8e0df;
    height: 640px;
}
.servicio .servicio-img{display: table-cell; width: 50%;text-align: center; vertical-align: middle}
.servicio .servicio-img h3{
    font-size: 42px;
    font-weight: bold;
    color: #232323;
    letter-spacing: -1px;
    margin-top: 31px;
    margin-bottom: 30px;
}
.servicio .servicio-img p{
    width: 51%;
    margin-left: auto;
    margin-right: auto;
    color: #45464a;
    font-size: 15px;
}
.servicio .servicio-img a{
    display: inline-block;
    background: #131419;
    color: #FFF;
    text-transform: uppercase;
    padding: 10px 24px;
    border-radius: 5px;
    margin-top: 35px;
}

.servicio .servicio-img .servicio-img-contenedor{}
.servicio .servicio-img .servicio-img-contenedor{}
.servicio .servicio-texto{
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    padding: 0 112px;
}
.servicio .servicio-texto h4{
    font-size: 14px;
    font-weight: bold;
    color: #45464a;
    margin: 0;
    margin-bottom: 13px;
}
.servicio .servicio-texto p{
    font-size: 14px;
    font-weight: 400;
    color: #45464a;
    margin: 0;
    line-height: 30px;
    margin-bottom: 30px;
}

.servicio.serv1 .servicio-inner .servicio-texto{
    background: #e0e7e6;
}

.servicio.serv2 .servicio-inner{
    background: #1C1D22;
}
.servicio.serv2 .servicio-inner .servicio-texto{
    background: #2a2b30;
}
.servicio.serv3 .servicio-inner{
    background: #FF8C01;
}
.servicio.serv3 .servicio-inner .servicio-texto{
    background: #ff9501;
}

.servicio.serv4 .servicio-inner{
    background: url(../img/asesoramiento-bg.jpg)no-repeat 50% #232020;
    background-size: cover;
}
.servicio.serv4{
    margin-bottom: 0;
}


.servicio.servicio-white h4,.servicio.servicio-white p, .servicio.servicio-white h3{color: white}

/* -----------
 *  INTRO MODULE
 * ----------- */

.fullheight{
    height: 100vh;
}

.intro-module{
    /*padding: 298px 0 153px;*/
    display: table;
    width: 100%;
}

.intro-module-inner{
    display: table-cell;
    vertical-align: middle;
}

.intro-module-title{}
.intro-module-content{}

.intro-module .intro-module-title h1{
    font-size: 90px;
    color: #FFF;
    margin: 0;
    font-weight: bold;
    letter-spacing: -3px;
    line-height: 84px;
}
.intro-module .intro-module-title h2{
    font-size: 24px;
    font-weight: bold;
    color: #FFF;
    margin-bottom: 14px;
    letter-spacing: -0.6px;
}


/* -----------
 *  CLIENTES
 * ----------- */

#clientes{
    background: url(../img/clientes-bg.jpg) no-repeat 50% #37383c;
    background-size: cover;
}
#clientes .intro-module-title{overflow: hidden;}
#clientes .intro-module-content{margin-top: 87px;    margin-bottom: -13px;
}

#clientes .intro-module-content img{max-width: 100%;}
#clientes .separador-titulo{background:white;}
#clientes .intro-module .intro-module-title h1{letter-spacing: -5px;}
#clientes .intro-module-title h2{    line-height: 28px;}


#clientes-top{
    display: table;
    width: 100%;
    border-spacing: 15px;
    margin-top: -12px;
}

.cliente-top{
    display: table-cell;
    height: 218px;
    vertical-align: middle;
    text-align: center;
}

.cliente-top img{
    max-width: 100%;
}
.cl-top1{background: #b82120;width: 325px;}
.cl-top2{    background: #FF8702;width: 217px;}
.cl-top3{background: #0094b4; width: 217px;}


/* -----------
 *  CLIENTES ELIGEN
 * ----------- */

#clientes-eligen{
    background: white;
    padding: 91px 0 85px;
}
#clientes-eligen h2{
    color: #232323;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 50px;
    margin-bottom: 36px;

}
#clientes-eligen h3{
    color: #e55b01;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    letter-spacing: 0px;
    word-spacing: -3px;

}
#clientes-eligen p{
    font-size: 17px;
    color: #45464a;
    line-height: 30px;
    margin-bottom: 30px;
}

/* -----------
 *  CLIENTES TESTIMONIO
 * ----------- */

#clientes-testimonio{
    text-align: center;
    background: url(../img/testimonio-bg.jpg) #141414 50% no-repeat;
    background-size: cover;
    padding: 172px 0 129px;
}
#clientes-testimonio strong{
    font-family: Georgia;
    color: #e45811;
    font-size: 120px;
    font-weight: bold;
    line-height: 50px;
}
#clientes-testimonio h2{
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    margin-top: -29px;
    letter-spacing: -0.6px;
    line-height: 36px;
    word-spacing: -1px;
    margin-bottom: 45px;
}
#clientes-testimonio h3{
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
}
#clientes-testimonio .logo-testimonio{
    margin-top: 63px;
}
#clientes-testimonio .logo-testimonio img{max-width: 100%;}


/* -----------
 *  ASESORAMIENTO CONTACTO
 * ----------- */

#asesoramiento-contacto{
    background: white;
    padding: 96px 0;
}
#asesoramiento-contacto-inner{
    background: url(../img/asesoramiento-contacto-bg.jpg) #d55301 no-repeat 50%;
    background-size: cover;
    padding: 156px 116px 165px;
}
#asesoramiento-contacto h1{
    font-size: 42px;
    font-weight: bold;
    color: #FFF;
    letter-spacing: -1px;
    line-height: 50px;
    margin-top: 18px;
    margin-bottom: 39px;
}
#asesoramiento-contacto p{
    font-size: 14px;
    font-weight: 400;
    color: #FFF;
    line-height: 23px;
}
#asesoramiento-contacto a{
    margin-top: 45px;
}


/* -----------
 *  ESTUDIO
 * ----------- */

#estudio{
    background: url(../img/estudio-seccion-bg.jpg) no-repeat #E75A00;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
#estudio.intro-module {
   /* padding: 298px 0 441px;*/
}
#estudio.intro-module .container{margin-top: -163px;}
#estudio-logo-big{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -94px;
}
#estudio-logo-big img{
    width: 100%;
}

#estudio .separador-titulo{
    background: white;
}
#estudio-acerca{
    padding: 91px 0 85px;
    background: #FFF;
}

#estudio-acerca h3 {
    color: #e55b01;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    letter-spacing: 0px;
    word-spacing: -3px;
}
#estudio-acerca h2 {
    color: #232323;
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 50px;
    margin-bottom: 36px;
}
#estudio-acerca  p {
    font-size: 17px;
    color: #45464a;
    line-height: 30px;
    margin-bottom: 30px;
}

#estudio-durand{
    background: white;
    position: relative;
    margin-top: -105px;

}
.estudio-paralax{
    position: absolute;
}
.estudio-paralax img{max-width: 100%;}

#e-pax1{
    left: 30px;
    top: 155px;
}
#e-pax2{
    //width: 14%;
    right: 28%;
    top: 59px;
}
#e-pax3{
    right: 18%;
    // width: 24%;
    top: 85%;
}
#e-pax4{
    right: 30px;
    top: 0;
    //width: 26%;
}

#estudio-bg {
    padding: 0 30px;
    display: table;
    width: 100%;

}

#estudio-bg img{max-width: 100%;    width: 100%;}

.estudio-col{
    float: left;
}

.estudio-col1 {
    width: 58%;
    margin-top: 159px;
    padding-right: 20px;
}
.estudio-col2{
    width: 42%;
}
.estudio-col3{
    width: 33%;
    margin-top: 60px;
}
.estudio-col4{
    width: 67%;
    padding-left: 20px;
}

.estudio-col5{
    width: 60%;
    margin-top: -7.5vw;
    padding-left: 20px;  
}


#estudio-content{
    position: absolute;
    top: 30vw;
    bottom: 0;
    width: 100%;
}

#durand-info{
    width:482px; 
    background: #2e2f33;
    padding: 46px 39px 38px;
}
#durand-info h1{
    color: #e45b01;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    letter-spacing: -1px;
    margin-bottom: 31px;
}
#durand-info p{
    color: #FFF;
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    word-spacing: -2px;

}
#durand-info ul{
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 28px;
}
#durand-info ul li{
    color: #9e9e9e;
    font-size: 14px;
    font-weight: 400;
    clear: both;
    letter-spacing: 0px;
    word-spacing: -2px;
}
#durand-info ul li span{
    font-size: 18px;
    float: left;
    margin-right: 2px;
    margin-top: -1px;
}
#durand-info a{
    font-size: 13px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    color: #e0e7e6;
    margin-left: -11px;
    margin-top: 36px;
    letter-spacing: 0px;
    word-spacing: -2px;
}

#durand-info a img{
    float: left;
    margin-top: -2px;
    margin-right: 10px;
}


/* -----------
 *  METODOLOGIA 
 * ----------- */


#metodologia-trabajo{
    background: url(../img/metodologia-bg.jpg) no-repeat 50% #2c2e31;
    background-size: cover;
}

#metodologia-trabajo.intro-module{    padding-top: 204px;}
#metodologia-trabajo .separador-titulo{background: white;}

#metodologia-trabajo #contenedor-metodologias svg{fill:white;}
#metodologia-trabajo #contenedor-metodologias .metodologia h3{color:white;}


#metodologia-pasos{
    background: white;
    padding-top: 136px;
}

.metodologia-explicada{
    position: relative;
    margin-bottom: 70px;
}
.metodologia-explicada h1{
    color: #232323;
    font-weight: bold;
    font-size: 42px;
    margin: 0;
    letter-spacing: -1px;
    margin-bottom: 38px;
}
.metodologia-explicada h1 span{color: #e55b01;margin-right: 18px}
.metodologia-explicada p{
    color: #45464a;
    font-size: 17px;
    line-height: 29px;
}
.metodologia-explicada-icono{
    position: absolute;
    left: -98px;
    top: 6px;
}

.metodologia-explicada-icono svg{width: 50px;}

.metodologia-explicada.met2 .metodologia-explicada-icono{left: -85px;}
.metodologia-explicada.met2 svg{    width: 24px;}

.metodologia-explicada.met3 .metodologia-explicada-icono{left: -92px;}
.metodologia-explicada.met3 svg{    width: 38px;}

.metodologia-explicada.met4 .metodologia-explicada-icono{left: -92px;}
.metodologia-explicada.met4 svg{    width: 38px;}

.metodologia-explicada.met5 .metodologia-explicada-icono{left: -93px;top: 8px;}
.metodologia-explicada.met5 svg{    width: 41px;}